[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/Coditary/Benchmarks.git
[submodule "apps/axio"]
	path = apps/axio
	url = https://github.com/Coditary/Axio.git
[submodule "apps/beez"]
	path = apps/beez
	url = https://github.com/Coditary/Beez.git
[submodule "apps/dorch"]
	path = apps/dorch
	url = https://github.com/Coditary/Dorch.git
[submodule "apps/dottery"]
	path = apps/dottery
	url = https://github.com/Coditary/Dottery.git
[submodule "apps/noctua"]
	path = apps/noctua
	url = https://github.com/Coditary/Noctua.git
[submodule "apps/nxpm"]
	path = apps/nxpm
	url = https://github.com/Coditary/NXPM.git
[submodule "apps/prebyte"]
	path = apps/prebyte
	url = https://github.com/Coditary/Prebyte.git
[submodule "apps/reqpack"]
	path = apps/reqpack
	url = https://github.com/Coditary/ReqPack.git
[submodule "apps/tempify"]
	path = apps/tempify
	url = https://github.com/Coditary/Tempify.git
[submodule "apps/wuji-ai"]
	path = apps/wuji-ai
	url = https://github.com/Coditary/wuji-ai.git
[submodule "apps/zshaper"]
	path = apps/zshaper
	url = https://github.com/Coditary/ZShaper.git
[submodule "plugins/beez/clang"]
	path = plugins/beez/clang
	url = https://github.com/Coditary/beez-clang.git
[submodule "plugins/beez/conan"]
	path = plugins/beez/conan
	url = https://github.com/Coditary/beez-conan.git
[submodule "plugins/beez/coverage"]
	path = plugins/beez/coverage
	url = https://github.com/Coditary/beez-coverage.git
[submodule "plugins/beez/cppcheck"]
	path = plugins/beez/cppcheck
	url = https://github.com/Coditary/beez-cppcheck.git
[submodule "plugins/beez/ctest"]
	path = plugins/beez/ctest
	url = https://github.com/Coditary/beez-ctest.git
[submodule "plugins/beez/cyclonedx"]
	path = plugins/beez/cyclonedx
	url = https://github.com/Coditary/beez-cyclonedx.git
[submodule "plugins/beez/fuzzer"]
	path = plugins/beez/fuzzer
	url = https://github.com/Coditary/beez-fuzzer.git
[submodule "plugins/beez/osv-audit"]
	path = plugins/beez/osv-audit
	url = https://github.com/Coditary/beez-osv-audit.git
[submodule "plugins/beez/pipeline"]
	path = plugins/beez/pipeline
	url = https://github.com/Coditary/beez-pipeline.git
[submodule "plugins/reqpack/template-wrapper"]
	path = plugins/reqpack/template-wrapper
	url = https://github.com/Coditary/reqpack-plugin-template-wrapper.git
[submodule "plugins/reqpack/plugins/a2"]
	path = plugins/reqpack/plugins/a2
	url = https://github.com/Coditary/rqp-plugin-a2.git
[submodule "plugins/reqpack/plugins/alire"]
	path = plugins/reqpack/plugins/alire
	url = https://github.com/Coditary/rqp-plugin-alire.git
[submodule "plugins/reqpack/plugins/am"]
	path = plugins/reqpack/plugins/am
	url = https://github.com/Coditary/rqp-plugin-am.git
[submodule "plugins/reqpack/plugins/ant"]
	path = plugins/reqpack/plugins/ant
	url = https://github.com/Coditary/rqp-plugin-ant.git
[submodule "plugins/reqpack/plugins/antigen"]
	path = plugins/reqpack/plugins/antigen
	url = https://github.com/Coditary/rqp-plugin-antigen.git
[submodule "plugins/reqpack/plugins/apk"]
	path = plugins/reqpack/plugins/apk
	url = https://github.com/Coditary/rqp-plugin-apk.git
[submodule "plugins/reqpack/plugins/apt"]
	path = plugins/reqpack/plugins/apt
	url = https://github.com/Coditary/rqp-plugin-apt.git
[submodule "plugins/reqpack/plugins/asdf"]
	path = plugins/reqpack/plugins/asdf
	url = https://github.com/Coditary/rqp-plugin-asdf.git
[submodule "plugins/reqpack/plugins/atoms"]
	path = plugins/reqpack/plugins/atoms
	url = https://github.com/Coditary/rqp-plugin-atoms.git
[submodule "plugins/reqpack/plugins/bal"]
	path = plugins/reqpack/plugins/bal
	url = https://github.com/Coditary/rqp-plugin-bal.git
[submodule "plugins/reqpack/plugins/boss"]
	path = plugins/reqpack/plugins/boss
	url = https://github.com/Coditary/rqp-plugin-boss.git
[submodule "plugins/reqpack/plugins/bundler"]
	path = plugins/reqpack/plugins/bundler
	url = https://github.com/Coditary/rqp-plugin-bundler.git
[submodule "plugins/reqpack/plugins/cabal"]
	path = plugins/reqpack/plugins/cabal
	url = https://github.com/Coditary/rqp-plugin-cabal.git
[submodule "plugins/reqpack/plugins/carbon"]
	path = plugins/reqpack/plugins/carbon
	url = https://github.com/Coditary/rqp-plugin-carbon.git
[submodule "plugins/reqpack/plugins/cargo"]
	path = plugins/reqpack/plugins/cargo
	url = https://github.com/Coditary/rqp-plugin-cargo.git
[submodule "plugins/reqpack/plugins/carthage"]
	path = plugins/reqpack/plugins/carthage
	url = https://github.com/Coditary/rqp-plugin-carthage.git
[submodule "plugins/reqpack/plugins/clasp"]
	path = plugins/reqpack/plugins/clasp
	url = https://github.com/Coditary/rqp-plugin-clasp.git
[submodule "plugins/reqpack/plugins/cocoapods"]
	path = plugins/reqpack/plugins/cocoapods
	url = https://github.com/Coditary/rqp-plugin-cocoapods.git
[submodule "plugins/reqpack/plugins/composer"]
	path = plugins/reqpack/plugins/composer
	url = https://github.com/Coditary/rqp-plugin-composer.git
[submodule "plugins/reqpack/plugins/conan"]
	path = plugins/reqpack/plugins/conan
	url = https://github.com/Coditary/rqp-plugin-conan.git
[submodule "plugins/reqpack/plugins/conda"]
	path = plugins/reqpack/plugins/conda
	url = https://github.com/Coditary/rqp-plugin-conda.git
[submodule "plugins/reqpack/plugins/corral"]
	path = plugins/reqpack/plugins/corral
	url = https://github.com/Coditary/rqp-plugin-corral.git
[submodule "plugins/reqpack/plugins/cpan"]
	path = plugins/reqpack/plugins/cpan
	url = https://github.com/Coditary/rqp-plugin-cpan.git
[submodule "plugins/reqpack/plugins/cpanm"]
	path = plugins/reqpack/plugins/cpanm
	url = https://github.com/Coditary/rqp-plugin-cpanm.git
[submodule "plugins/reqpack/plugins/cran"]
	path = plugins/reqpack/plugins/cran
	url = https://github.com/Coditary/rqp-plugin-cran.git
[submodule "plugins/reqpack/plugins/ctan"]
	path = plugins/reqpack/plugins/ctan
	url = https://github.com/Coditary/rqp-plugin-ctan.git
[submodule "plugins/reqpack/plugins/deft"]
	path = plugins/reqpack/plugins/deft
	url = https://github.com/Coditary/rqp-plugin-deft.git
[submodule "plugins/reqpack/plugins/devtools"]
	path = plugins/reqpack/plugins/devtools
	url = https://github.com/Coditary/rqp-plugin-devtools.git
[submodule "plugins/reqpack/plugins/dnf"]
	path = plugins/reqpack/plugins/dnf
	url = https://github.com/Coditary/rqp-plugin-dnf.git
[submodule "plugins/reqpack/plugins/docker"]
	path = plugins/reqpack/plugins/docker
	url = https://github.com/Coditary/rqp-plugin-docker.git
[submodule "plugins/reqpack/plugins/dotnet"]
	path = plugins/reqpack/plugins/dotnet
	url = https://github.com/Coditary/rqp-plugin-dotnet.git
[submodule "plugins/reqpack/plugins/dpkg"]
	path = plugins/reqpack/plugins/dpkg
	url = https://github.com/Coditary/rqp-plugin-dpkg.git
[submodule "plugins/reqpack/plugins/dub"]
	path = plugins/reqpack/plugins/dub
	url = https://github.com/Coditary/rqp-plugin-dub.git
[submodule "plugins/reqpack/plugins/eiffelstudio"]
	path = plugins/reqpack/plugins/eiffelstudio
	url = https://github.com/Coditary/rqp-plugin-eiffelstudio.git
[submodule "plugins/reqpack/plugins/elan"]
	path = plugins/reqpack/plugins/elan
	url = https://github.com/Coditary/rqp-plugin-elan.git
[submodule "plugins/reqpack/plugins/elm-package"]
	path = plugins/reqpack/plugins/elm-package
	url = https://github.com/Coditary/rqp-plugin-elm-package.git
[submodule "plugins/reqpack/plugins/elpa"]
	path = plugins/reqpack/plugins/elpa
	url = https://github.com/Coditary/rqp-plugin-elpa.git
[submodule "plugins/reqpack/plugins/eupm"]
	path = plugins/reqpack/plugins/eupm
	url = https://github.com/Coditary/rqp-plugin-eupm.git
[submodule "plugins/reqpack/plugins/fan"]
	path = plugins/reqpack/plugins/fan
	url = https://github.com/Coditary/rqp-plugin-fan.git
[submodule "plugins/reqpack/plugins/flatpak"]
	path = plugins/reqpack/plugins/flatpak
	url = https://github.com/Coditary/rqp-plugin-flatpak.git
[submodule "plugins/reqpack/plugins/flix"]
	path = plugins/reqpack/plugins/flix
	url = https://github.com/Coditary/rqp-plugin-flix.git
[submodule "plugins/reqpack/plugins/foundry"]
	path = plugins/reqpack/plugins/foundry
	url = https://github.com/Coditary/rqp-plugin-foundry.git
[submodule "plugins/reqpack/plugins/fpm"]
	path = plugins/reqpack/plugins/fpm
	url = https://github.com/Coditary/rqp-plugin-fpm.git
[submodule "plugins/reqpack/plugins/futhark"]
	path = plugins/reqpack/plugins/futhark
	url = https://github.com/Coditary/rqp-plugin-futhark.git
[submodule "plugins/reqpack/plugins/gem"]
	path = plugins/reqpack/plugins/gem
	url = https://github.com/Coditary/rqp-plugin-gem.git
[submodule "plugins/reqpack/plugins/getit"]
	path = plugins/reqpack/plugins/getit
	url = https://github.com/Coditary/rqp-plugin-getit.git
[submodule "plugins/reqpack/plugins/gh"]
	path = plugins/reqpack/plugins/gh
	url = https://github.com/Coditary/rqp-plugin-gh.git
[submodule "plugins/reqpack/plugins/gh-advisory"]
	path = plugins/reqpack/plugins/gh-advisory
	url = https://github.com/Coditary/rqp-plugin-gh-advisory.git
[submodule "plugins/reqpack/plugins/ghskill"]
	path = plugins/reqpack/plugins/ghskill
	url = https://github.com/Coditary/rqp-plugin-ghskill.git
[submodule "plugins/reqpack/plugins/gleam"]
	path = plugins/reqpack/plugins/gleam
	url = https://github.com/Coditary/rqp-plugin-gleam.git
[submodule "plugins/reqpack/plugins/go"]
	path = plugins/reqpack/plugins/go
	url = https://github.com/Coditary/rqp-plugin-go.git
[submodule "plugins/reqpack/plugins/gradle"]
	path = plugins/reqpack/plugins/gradle
	url = https://github.com/Coditary/rqp-plugin-gradle.git
[submodule "plugins/reqpack/plugins/gt"]
	path = plugins/reqpack/plugins/gt
	url = https://github.com/Coditary/rqp-plugin-gt.git
[submodule "plugins/reqpack/plugins/guildhall"]
	path = plugins/reqpack/plugins/guildhall
	url = https://github.com/Coditary/rqp-plugin-guildhall.git
[submodule "plugins/reqpack/plugins/guix"]
	path = plugins/reqpack/plugins/guix
	url = https://github.com/Coditary/rqp-plugin-guix.git
[submodule "plugins/reqpack/plugins/hardhat"]
	path = plugins/reqpack/plugins/hardhat
	url = https://github.com/Coditary/rqp-plugin-hardhat.git
[submodule "plugins/reqpack/plugins/haxelib"]
	path = plugins/reqpack/plugins/haxelib
	url = https://github.com/Coditary/rqp-plugin-haxelib.git
[submodule "plugins/reqpack/plugins/hbmk2"]
	path = plugins/reqpack/plugins/hbmk2
	url = https://github.com/Coditary/rqp-plugin-hbmk2.git
[submodule "plugins/reqpack/plugins/hex"]
	path = plugins/reqpack/plugins/hex
	url = https://github.com/Coditary/rqp-plugin-hex.git
[submodule "plugins/reqpack/plugins/homebrew"]
	path = plugins/reqpack/plugins/homebrew
	url = https://github.com/Coditary/rqp-plugin-homebrew.git
[submodule "plugins/reqpack/plugins/huggingface"]
	path = plugins/reqpack/plugins/huggingface
	url = https://github.com/Coditary/rqp-plugin-huggingface.git
[submodule "plugins/reqpack/plugins/idris2-pkg"]
	path = plugins/reqpack/plugins/idris2-pkg
	url = https://github.com/Coditary/rqp-plugin-idris2-pkg.git
[submodule "plugins/reqpack/plugins/inform7"]
	path = plugins/reqpack/plugins/inform7
	url = https://github.com/Coditary/rqp-plugin-inform7.git
[submodule "plugins/reqpack/plugins/io"]
	path = plugins/reqpack/plugins/io
	url = https://github.com/Coditary/rqp-plugin-io.git
[submodule "plugins/reqpack/plugins/jbang"]
	path = plugins/reqpack/plugins/jbang
	url = https://github.com/Coditary/rqp-plugin-jbang.git
[submodule "plugins/reqpack/plugins/kpm"]
	path = plugins/reqpack/plugins/kpm
	url = https://github.com/Coditary/rqp-plugin-kpm.git
[submodule "plugins/reqpack/plugins/kxi"]
	path = plugins/reqpack/plugins/kxi
	url = https://github.com/Coditary/rqp-plugin-kxi.git
[submodule "plugins/reqpack/plugins/lake"]
	path = plugins/reqpack/plugins/lake
	url = https://github.com/Coditary/rqp-plugin-lake.git
[submodule "plugins/reqpack/plugins/leiningen"]
	path = plugins/reqpack/plugins/leiningen
	url = https://github.com/Coditary/rqp-plugin-leiningen.git
[submodule "plugins/reqpack/plugins/logtalk"]
	path = plugins/reqpack/plugins/logtalk
	url = https://github.com/Coditary/rqp-plugin-logtalk.git
[submodule "plugins/reqpack/plugins/longtalk"]
	path = plugins/reqpack/plugins/longtalk
	url = https://github.com/Coditary/rqp-plugin-longtalk.git
[submodule "plugins/reqpack/plugins/luarocks"]
	path = plugins/reqpack/plugins/luarocks
	url = https://github.com/Coditary/rqp-plugin-luarocks.git
[submodule "plugins/reqpack/plugins/mamba"]
	path = plugins/reqpack/plugins/mamba
	url = https://github.com/Coditary/rqp-plugin-mamba.git
[submodule "plugins/reqpack/plugins/mcpm"]
	path = plugins/reqpack/plugins/mcpm
	url = https://github.com/Coditary/rqp-plugin-mcpm.git
[submodule "plugins/reqpack/plugins/melpa"]
	path = plugins/reqpack/plugins/melpa
	url = https://github.com/Coditary/rqp-plugin-melpa.git
[submodule "plugins/reqpack/plugins/meson"]
	path = plugins/reqpack/plugins/meson
	url = https://github.com/Coditary/rqp-plugin-meson.git
[submodule "plugins/reqpack/plugins/metacello"]
	path = plugins/reqpack/plugins/metacello
	url = https://github.com/Coditary/rqp-plugin-metacello.git
[submodule "plugins/reqpack/plugins/microdnf"]
	path = plugins/reqpack/plugins/microdnf
	url = https://github.com/Coditary/rqp-plugin-microdnf.git
[submodule "plugins/reqpack/plugins/miktex"]
	path = plugins/reqpack/plugins/miktex
	url = https://github.com/Coditary/rqp-plugin-miktex.git
[submodule "plugins/reqpack/plugins/mill"]
	path = plugins/reqpack/plugins/mill
	url = https://github.com/Coditary/rqp-plugin-mill.git
[submodule "plugins/reqpack/plugins/mise"]
	path = plugins/reqpack/plugins/mise
	url = https://github.com/Coditary/rqp-plugin-mise.git
[submodule "plugins/reqpack/plugins/mmc"]
	path = plugins/reqpack/plugins/mmc
	url = https://github.com/Coditary/rqp-plugin-mmc.git
[submodule "plugins/reqpack/plugins/mojo"]
	path = plugins/reqpack/plugins/mojo
	url = https://github.com/Coditary/rqp-plugin-mojo.git
[submodule "plugins/reqpack/plugins/newlisp_bin"]
	path = plugins/reqpack/plugins/newlisp_bin
	url = https://github.com/Coditary/rqp-plugin-newlisp_bin.git
[submodule "plugins/reqpack/plugins/nimble"]
	path = plugins/reqpack/plugins/nimble
	url = https://github.com/Coditary/rqp-plugin-nimble.git
[submodule "plugins/reqpack/plugins/nix"]
	path = plugins/reqpack/plugins/nix
	url = https://github.com/Coditary/rqp-plugin-nix.git
[submodule "plugins/reqpack/plugins/npm"]
	path = plugins/reqpack/plugins/npm
	url = https://github.com/Coditary/rqp-plugin-npm.git
[submodule "plugins/reqpack/plugins/nuget"]
	path = plugins/reqpack/plugins/nuget
	url = https://github.com/Coditary/rqp-plugin-nuget.git
[submodule "plugins/reqpack/plugins/octave-forge"]
	path = plugins/reqpack/plugins/octave-forge
	url = https://github.com/Coditary/rqp-plugin-octave-forge.git
[submodule "plugins/reqpack/plugins/ocx"]
	path = plugins/reqpack/plugins/ocx
	url = https://github.com/Coditary/rqp-plugin-ocx.git
[submodule "plugins/reqpack/plugins/odpkg"]
	path = plugins/reqpack/plugins/odpkg
	url = https://github.com/Coditary/rqp-plugin-odpkg.git
[submodule "plugins/reqpack/plugins/ollama"]
	path = plugins/reqpack/plugins/ollama
	url = https://github.com/Coditary/rqp-plugin-ollama.git
[submodule "plugins/reqpack/plugins/oobabooga"]
	path = plugins/reqpack/plugins/oobabooga
	url = https://github.com/Coditary/rqp-plugin-oobabooga.git
[submodule "plugins/reqpack/plugins/opa"]
	path = plugins/reqpack/plugins/opa
	url = https://github.com/Coditary/rqp-plugin-opa.git
[submodule "plugins/reqpack/plugins/opam"]
	path = plugins/reqpack/plugins/opam
	url = https://github.com/Coditary/rqp-plugin-opam.git
[submodule "plugins/reqpack/plugins/pacman"]
	path = plugins/reqpack/plugins/pacman
	url = https://github.com/Coditary/rqp-plugin-pacman.git
[submodule "plugins/reqpack/plugins/paket"]
	path = plugins/reqpack/plugins/paket
	url = https://github.com/Coditary/rqp-plugin-paket.git
[submodule "plugins/reqpack/plugins/paru"]
	path = plugins/reqpack/plugins/paru
	url = https://github.com/Coditary/rqp-plugin-paru.git
[submodule "plugins/reqpack/plugins/pinokio"]
	path = plugins/reqpack/plugins/pinokio
	url = https://github.com/Coditary/rqp-plugin-pinokio.git
[submodule "plugins/reqpack/plugins/pinto"]
	path = plugins/reqpack/plugins/pinto
	url = https://github.com/Coditary/rqp-plugin-pinto.git
[submodule "plugins/reqpack/plugins/pnpm"]
	path = plugins/reqpack/plugins/pnpm
	url = https://github.com/Coditary/rqp-plugin-pnpm.git
[submodule "plugins/reqpack/plugins/podman"]
	path = plugins/reqpack/plugins/podman
	url = https://github.com/Coditary/rqp-plugin-podman.git
[submodule "plugins/reqpack/plugins/poetry"]
	path = plugins/reqpack/plugins/poetry
	url = https://github.com/Coditary/rqp-plugin-poetry.git
[submodule "plugins/reqpack/plugins/portage"]
	path = plugins/reqpack/plugins/portage
	url = https://github.com/Coditary/rqp-plugin-portage.git
[submodule "plugins/reqpack/plugins/pub"]
	path = plugins/reqpack/plugins/pub
	url = https://github.com/Coditary/rqp-plugin-pub.git
[submodule "plugins/reqpack/plugins/qt"]
	path = plugins/reqpack/plugins/qt
	url = https://github.com/Coditary/rqp-plugin-qt.git
[submodule "plugins/reqpack/plugins/quarks"]
	path = plugins/reqpack/plugins/quarks
	url = https://github.com/Coditary/rqp-plugin-quarks.git
[submodule "plugins/reqpack/plugins/quicklisp"]
	path = plugins/reqpack/plugins/quicklisp
	url = https://github.com/Coditary/rqp-plugin-quicklisp.git
[submodule "plugins/reqpack/plugins/raco"]
	path = plugins/reqpack/plugins/raco
	url = https://github.com/Coditary/rqp-plugin-raco.git
[submodule "plugins/reqpack/plugins/rebar3"]
	path = plugins/reqpack/plugins/rebar3
	url = https://github.com/Coditary/rqp-plugin-rebar3.git
[submodule "plugins/reqpack/plugins/red_cli"]
	path = plugins/reqpack/plugins/red_cli
	url = https://github.com/Coditary/rqp-plugin-red_cli.git
[submodule "plugins/reqpack/plugins/renv"]
	path = plugins/reqpack/plugins/renv
	url = https://github.com/Coditary/rqp-plugin-renv.git
[submodule "plugins/reqpack/plugins/rpm"]
	path = plugins/reqpack/plugins/rpm
	url = https://github.com/Coditary/rqp-plugin-rpm.git
[submodule "plugins/reqpack/plugins/rtx"]
	path = plugins/reqpack/plugins/rtx
	url = https://github.com/Coditary/rqp-plugin-rtx.git
[submodule "plugins/reqpack/plugins/salesforce-apex"]
	path = plugins/reqpack/plugins/salesforce-apex
	url = https://github.com/Coditary/rqp-plugin-salesforce-apex.git
[submodule "plugins/reqpack/plugins/sbt"]
	path = plugins/reqpack/plugins/sbt
	url = https://github.com/Coditary/rqp-plugin-sbt.git
[submodule "plugins/reqpack/plugins/scsh"]
	path = plugins/reqpack/plugins/scsh
	url = https://github.com/Coditary/rqp-plugin-scsh.git
[submodule "plugins/reqpack/plugins/sdkman"]
	path = plugins/reqpack/plugins/sdkman
	url = https://github.com/Coditary/rqp-plugin-sdkman.git
[submodule "plugins/reqpack/plugins/shards"]
	path = plugins/reqpack/plugins/shards
	url = https://github.com/Coditary/rqp-plugin-shards.git
[submodule "plugins/reqpack/plugins/skillssh"]
	path = plugins/reqpack/plugins/skillssh
	url = https://github.com/Coditary/rqp-plugin-skillssh.git
[submodule "plugins/reqpack/plugins/smackage"]
	path = plugins/reqpack/plugins/smackage
	url = https://github.com/Coditary/rqp-plugin-smackage.git
[submodule "plugins/reqpack/plugins/smlpkg"]
	path = plugins/reqpack/plugins/smlpkg
	url = https://github.com/Coditary/rqp-plugin-smlpkg.git
[submodule "plugins/reqpack/plugins/snap"]
	path = plugins/reqpack/plugins/snap
	url = https://github.com/Coditary/rqp-plugin-snap.git
[submodule "plugins/reqpack/plugins/snow"]
	path = plugins/reqpack/plugins/snow
	url = https://github.com/Coditary/rqp-plugin-snow.git
[submodule "plugins/reqpack/plugins/snyk"]
	path = plugins/reqpack/plugins/snyk
	url = https://github.com/Coditary/rqp-plugin-snyk.git
[submodule "plugins/reqpack/plugins/spago"]
	path = plugins/reqpack/plugins/spago
	url = https://github.com/Coditary/rqp-plugin-spago.git
[submodule "plugins/reqpack/plugins/spm"]
	path = plugins/reqpack/plugins/spm
	url = https://github.com/Coditary/rqp-plugin-spm.git
[submodule "plugins/reqpack/plugins/stack"]
	path = plugins/reqpack/plugins/stack
	url = https://github.com/Coditary/rqp-plugin-stack.git
[submodule "plugins/reqpack/plugins/swiftpm"]
	path = plugins/reqpack/plugins/swiftpm
	url = https://github.com/Coditary/rqp-plugin-swiftpm.git
[submodule "plugins/reqpack/plugins/tads3"]
	path = plugins/reqpack/plugins/tads3
	url = https://github.com/Coditary/rqp-plugin-tads3.git
[submodule "plugins/reqpack/plugins/tcllib"]
	path = plugins/reqpack/plugins/tcllib
	url = https://github.com/Coditary/rqp-plugin-tcllib.git
[submodule "plugins/reqpack/plugins/teacup"]
	path = plugins/reqpack/plugins/teacup
	url = https://github.com/Coditary/rqp-plugin-teacup.git
[submodule "plugins/reqpack/plugins/tempify"]
	path = plugins/reqpack/plugins/tempify
	url = https://github.com/Coditary/rqp-plugin-tempify.git
[submodule "plugins/reqpack/plugins/texlive"]
	path = plugins/reqpack/plugins/texlive
	url = https://github.com/Coditary/rqp-plugin-texlive.git
[submodule "plugins/reqpack/plugins/trivy"]
	path = plugins/reqpack/plugins/trivy
	url = https://github.com/Coditary/rqp-plugin-trivy.git
[submodule "plugins/reqpack/plugins/uv"]
	path = plugins/reqpack/plugins/uv
	url = https://github.com/Coditary/rqp-plugin-uv.git
[submodule "plugins/reqpack/plugins/vcpkg"]
	path = plugins/reqpack/plugins/vcpkg
	url = https://github.com/Coditary/rqp-plugin-vcpkg.git
[submodule "plugins/reqpack/plugins/vfp-pm"]
	path = plugins/reqpack/plugins/vfp-pm
	url = https://github.com/Coditary/rqp-plugin-vfp-pm.git
[submodule "plugins/reqpack/plugins/vim-plug"]
	path = plugins/reqpack/plugins/vim-plug
	url = https://github.com/Coditary/rqp-plugin-vim-plug.git
[submodule "plugins/reqpack/plugins/vpm"]
	path = plugins/reqpack/plugins/vpm
	url = https://github.com/Coditary/rqp-plugin-vpm.git
[submodule "plugins/reqpack/plugins/wasm-bindgen"]
	path = plugins/reqpack/plugins/wasm-bindgen
	url = https://github.com/Coditary/rqp-plugin-wasm-bindgen.git
[submodule "plugins/reqpack/plugins/x10build"]
	path = plugins/reqpack/plugins/x10build
	url = https://github.com/Coditary/rqp-plugin-x10build.git
[submodule "plugins/reqpack/plugins/xbps"]
	path = plugins/reqpack/plugins/xbps
	url = https://github.com/Coditary/rqp-plugin-xbps.git
[submodule "plugins/reqpack/plugins/yarn"]
	path = plugins/reqpack/plugins/yarn
	url = https://github.com/Coditary/rqp-plugin-yarn.git
[submodule "plugins/reqpack/plugins/yay"]
	path = plugins/reqpack/plugins/yay
	url = https://github.com/Coditary/rqp-plugin-yay.git
[submodule "plugins/reqpack/plugins/zef"]
	path = plugins/reqpack/plugins/zef
	url = https://github.com/Coditary/rqp-plugin-zef.git
[submodule "plugins/reqpack/plugins/zig"]
	path = plugins/reqpack/plugins/zig
	url = https://github.com/Coditary/rqp-plugin-zig.git
[submodule "plugins/reqpack/plugins/zinit"]
	path = plugins/reqpack/plugins/zinit
	url = https://github.com/Coditary/rqp-plugin-zinit.git
[submodule "plugins/reqpack/plugins/zplug"]
	path = plugins/reqpack/plugins/zplug
	url = https://github.com/Coditary/rqp-plugin-zplug.git
[submodule "plugins/reqpack/plugins/zypper"]
	path = plugins/reqpack/plugins/zypper
	url = https://github.com/Coditary/rqp-plugin-zypper.git
[submodule "templates"]
	path = templates
	url = https://github.com/Coditary/tempify-templates.git
[submodule "registry/beez"]
	path = registry/beez
	url = https://github.com/Coditary/beez-registry.git
[submodule "registry/reqpack"]
	path = registry/reqpack
	url = https://github.com/Coditary/rqp-registry.git
