[submodule "benchmarks"]
	path = benchmarks
	url = https://github.com/Coditary/Benchmarks.git
[submodule "apps/axio"]
	path = apps/axio
	url = https://github.com/Coditary/Axio.git
[submodule "apps/beez"]
	path = apps/beez
	url = https://github.com/Coditary/Beez.git
[submodule "apps/dorch"]
	path = apps/dorch
	url = https://github.com/Coditary/Dorch.git
[submodule "apps/dottery"]
	path = apps/dottery
	url = https://github.com/Coditary/Dottery.git
[submodule "apps/noctua"]
	path = apps/noctua
	url = https://github.com/Coditary/Noctua.git
[submodule "apps/prebyte"]
	path = apps/prebyte
	url = https://github.com/Coditary/Prebyte.git
[submodule "apps/reqpack"]
	path = apps/reqpack
	url = https://github.com/Coditary/ReqPack.git
[submodule "apps/tempify"]
	path = apps/tempify
	url = https://github.com/Coditary/Tempify.git
[submodule "apps/wuji-ai"]
	path = apps/wuji-ai
	url = https://github.com/Coditary/wuji-ai.git
[submodule "apps/zshaper"]
	path = apps/zshaper
	url = https://github.com/Coditary/ZShaper.git
[submodule "plugins/beez/clang"]
	path = plugins/beez/clang
	url = https://github.com/Coditary/beez-clang.git
[submodule "plugins/beez/conan"]
	path = plugins/beez/conan
	url = https://github.com/Coditary/beez-conan.git
[submodule "plugins/beez/coverage"]
	path = plugins/beez/coverage
	url = https://github.com/Coditary/beez-coverage.git
[submodule "plugins/beez/cppcheck"]
	path = plugins/beez/cppcheck
	url = https://github.com/Coditary/beez-cppcheck.git
[submodule "plugins/beez/ctest"]
	path = plugins/beez/ctest
	url = https://github.com/Coditary/beez-ctest.git
[submodule "plugins/beez/cyclonedx"]
	path = plugins/beez/cyclonedx
	url = https://github.com/Coditary/beez-cyclonedx.git
[submodule "plugins/beez/fuzzer"]
	path = plugins/beez/fuzzer
	url = https://github.com/Coditary/beez-fuzzer.git
[submodule "plugins/beez/osv-audit"]
	path = plugins/beez/osv-audit
	url = https://github.com/Coditary/beez-osv-audit.git
[submodule "plugins/beez/pipeline"]
	path = plugins/beez/pipeline
	url = https://github.com/Coditary/beez-pipeline.git
[submodule "plugins/reqpack/a2"]
	path = plugins/reqpack/a2
	url = https://github.com/Coditary/rqp-plugin-a2.git
[submodule "plugins/reqpack/alire"]
	path = plugins/reqpack/alire
	url = https://github.com/Coditary/rqp-plugin-alire.git
[submodule "plugins/reqpack/am"]
	path = plugins/reqpack/am
	url = https://github.com/Coditary/rqp-plugin-am.git
[submodule "plugins/reqpack/ant"]
	path = plugins/reqpack/ant
	url = https://github.com/Coditary/rqp-plugin-ant.git
[submodule "plugins/reqpack/antigen"]
	path = plugins/reqpack/antigen
	url = https://github.com/Coditary/rqp-plugin-antigen.git
[submodule "plugins/reqpack/apk"]
	path = plugins/reqpack/apk
	url = https://github.com/Coditary/rqp-plugin-apk.git
[submodule "plugins/reqpack/apt"]
	path = plugins/reqpack/apt
	url = https://github.com/Coditary/rqp-plugin-apt.git
[submodule "plugins/reqpack/asdf"]
	path = plugins/reqpack/asdf
	url = https://github.com/Coditary/rqp-plugin-asdf.git
[submodule "plugins/reqpack/atoms"]
	path = plugins/reqpack/atoms
	url = https://github.com/Coditary/rqp-plugin-atoms.git
[submodule "plugins/reqpack/bal"]
	path = plugins/reqpack/bal
	url = https://github.com/Coditary/rqp-plugin-bal.git
[submodule "plugins/reqpack/boss"]
	path = plugins/reqpack/boss
	url = https://github.com/Coditary/rqp-plugin-boss.git
[submodule "plugins/reqpack/bundler"]
	path = plugins/reqpack/bundler
	url = https://github.com/Coditary/rqp-plugin-bundler.git
[submodule "plugins/reqpack/cabal"]
	path = plugins/reqpack/cabal
	url = https://github.com/Coditary/rqp-plugin-cabal.git
[submodule "plugins/reqpack/carbon"]
	path = plugins/reqpack/carbon
	url = https://github.com/Coditary/rqp-plugin-carbon.git
[submodule "plugins/reqpack/cargo"]
	path = plugins/reqpack/cargo
	url = https://github.com/Coditary/rqp-plugin-cargo.git
[submodule "plugins/reqpack/carthage"]
	path = plugins/reqpack/carthage
	url = https://github.com/Coditary/rqp-plugin-carthage.git
[submodule "plugins/reqpack/clasp"]
	path = plugins/reqpack/clasp
	url = https://github.com/Coditary/rqp-plugin-clasp.git
[submodule "plugins/reqpack/cocoapods"]
	path = plugins/reqpack/cocoapods
	url = https://github.com/Coditary/rqp-plugin-cocoapods.git
[submodule "plugins/reqpack/composer"]
	path = plugins/reqpack/composer
	url = https://github.com/Coditary/rqp-plugin-composer.git
[submodule "plugins/reqpack/conan"]
	path = plugins/reqpack/conan
	url = https://github.com/Coditary/rqp-plugin-conan.git
[submodule "plugins/reqpack/conda"]
	path = plugins/reqpack/conda
	url = https://github.com/Coditary/rqp-plugin-conda.git
[submodule "plugins/reqpack/corral"]
	path = plugins/reqpack/corral
	url = https://github.com/Coditary/rqp-plugin-corral.git
[submodule "plugins/reqpack/cpan"]
	path = plugins/reqpack/cpan
	url = https://github.com/Coditary/rqp-plugin-cpan.git
[submodule "plugins/reqpack/cpanm"]
	path = plugins/reqpack/cpanm
	url = https://github.com/Coditary/rqp-plugin-cpanm.git
[submodule "plugins/reqpack/cran"]
	path = plugins/reqpack/cran
	url = https://github.com/Coditary/rqp-plugin-cran.git
[submodule "plugins/reqpack/ctan"]
	path = plugins/reqpack/ctan
	url = https://github.com/Coditary/rqp-plugin-ctan.git
[submodule "plugins/reqpack/deft"]
	path = plugins/reqpack/deft
	url = https://github.com/Coditary/rqp-plugin-deft.git
[submodule "plugins/reqpack/devtools"]
	path = plugins/reqpack/devtools
	url = https://github.com/Coditary/rqp-plugin-devtools.git
[submodule "plugins/reqpack/dnf"]
	path = plugins/reqpack/dnf
	url = https://github.com/Coditary/rqp-plugin-dnf.git
[submodule "plugins/reqpack/docker"]
	path = plugins/reqpack/docker
	url = https://github.com/Coditary/rqp-plugin-docker.git
[submodule "plugins/reqpack/dotnet"]
	path = plugins/reqpack/dotnet
	url = https://github.com/Coditary/rqp-plugin-dotnet.git
[submodule "plugins/reqpack/dpkg"]
	path = plugins/reqpack/dpkg
	url = https://github.com/Coditary/rqp-plugin-dpkg.git
[submodule "plugins/reqpack/dub"]
	path = plugins/reqpack/dub
	url = https://github.com/Coditary/rqp-plugin-dub.git
[submodule "plugins/reqpack/eiffelstudio"]
	path = plugins/reqpack/eiffelstudio
	url = https://github.com/Coditary/rqp-plugin-eiffelstudio.git
[submodule "plugins/reqpack/elan"]
	path = plugins/reqpack/elan
	url = https://github.com/Coditary/rqp-plugin-elan.git
[submodule "plugins/reqpack/elm-package"]
	path = plugins/reqpack/elm-package
	url = https://github.com/Coditary/rqp-plugin-elm-package.git
[submodule "plugins/reqpack/elpa"]
	path = plugins/reqpack/elpa
	url = https://github.com/Coditary/rqp-plugin-elpa.git
[submodule "plugins/reqpack/eupm"]
	path = plugins/reqpack/eupm
	url = https://github.com/Coditary/rqp-plugin-eupm.git
[submodule "plugins/reqpack/fan"]
	path = plugins/reqpack/fan
	url = https://github.com/Coditary/rqp-plugin-fan.git
[submodule "plugins/reqpack/flatpak"]
	path = plugins/reqpack/flatpak
	url = https://github.com/Coditary/rqp-plugin-flatpak.git
[submodule "plugins/reqpack/flix"]
	path = plugins/reqpack/flix
	url = https://github.com/Coditary/rqp-plugin-flix.git
[submodule "plugins/reqpack/foundry"]
	path = plugins/reqpack/foundry
	url = https://github.com/Coditary/rqp-plugin-foundry.git
[submodule "plugins/reqpack/fpm"]
	path = plugins/reqpack/fpm
	url = https://github.com/Coditary/rqp-plugin-fpm.git
[submodule "plugins/reqpack/futhark"]
	path = plugins/reqpack/futhark
	url = https://github.com/Coditary/rqp-plugin-futhark.git
[submodule "plugins/reqpack/gem"]
	path = plugins/reqpack/gem
	url = https://github.com/Coditary/rqp-plugin-gem.git
[submodule "plugins/reqpack/getit"]
	path = plugins/reqpack/getit
	url = https://github.com/Coditary/rqp-plugin-getit.git
[submodule "plugins/reqpack/gh"]
	path = plugins/reqpack/gh
	url = https://github.com/Coditary/rqp-plugin-gh.git
[submodule "plugins/reqpack/gh-advisory"]
	path = plugins/reqpack/gh-advisory
	url = https://github.com/Coditary/rqp-plugin-gh-advisory.git
[submodule "plugins/reqpack/ghskill"]
	path = plugins/reqpack/ghskill
	url = https://github.com/Coditary/rqp-plugin-ghskill.git
[submodule "plugins/reqpack/gleam"]
	path = plugins/reqpack/gleam
	url = https://github.com/Coditary/rqp-plugin-gleam.git
[submodule "plugins/reqpack/go"]
	path = plugins/reqpack/go
	url = https://github.com/Coditary/rqp-plugin-go.git
[submodule "plugins/reqpack/gradle"]
	path = plugins/reqpack/gradle
	url = https://github.com/Coditary/rqp-plugin-gradle.git
[submodule "plugins/reqpack/gt"]
	path = plugins/reqpack/gt
	url = https://github.com/Coditary/rqp-plugin-gt.git
[submodule "plugins/reqpack/guildhall"]
	path = plugins/reqpack/guildhall
	url = https://github.com/Coditary/rqp-plugin-guildhall.git
[submodule "plugins/reqpack/guix"]
	path = plugins/reqpack/guix
	url = https://github.com/Coditary/rqp-plugin-guix.git
[submodule "plugins/reqpack/hardhat"]
	path = plugins/reqpack/hardhat
	url = https://github.com/Coditary/rqp-plugin-hardhat.git
[submodule "plugins/reqpack/haxelib"]
	path = plugins/reqpack/haxelib
	url = https://github.com/Coditary/rqp-plugin-haxelib.git
[submodule "plugins/reqpack/hbmk2"]
	path = plugins/reqpack/hbmk2
	url = https://github.com/Coditary/rqp-plugin-hbmk2.git
[submodule "plugins/reqpack/hex"]
	path = plugins/reqpack/hex
	url = https://github.com/Coditary/rqp-plugin-hex.git
[submodule "plugins/reqpack/homebrew"]
	path = plugins/reqpack/homebrew
	url = https://github.com/Coditary/rqp-plugin-homebrew.git
[submodule "plugins/reqpack/huggingface"]
	path = plugins/reqpack/huggingface
	url = https://github.com/Coditary/rqp-plugin-huggingface.git
[submodule "plugins/reqpack/idris2-pkg"]
	path = plugins/reqpack/idris2-pkg
	url = https://github.com/Coditary/rqp-plugin-idris2-pkg.git
[submodule "plugins/reqpack/inform7"]
	path = plugins/reqpack/inform7
	url = https://github.com/Coditary/rqp-plugin-inform7.git
[submodule "plugins/reqpack/io"]
	path = plugins/reqpack/io
	url = https://github.com/Coditary/rqp-plugin-io.git
[submodule "plugins/reqpack/jbang"]
	path = plugins/reqpack/jbang
	url = https://github.com/Coditary/rqp-plugin-jbang.git
[submodule "plugins/reqpack/kpm"]
	path = plugins/reqpack/kpm
	url = https://github.com/Coditary/rqp-plugin-kpm.git
[submodule "plugins/reqpack/kxi"]
	path = plugins/reqpack/kxi
	url = https://github.com/Coditary/rqp-plugin-kxi.git
[submodule "plugins/reqpack/lake"]
	path = plugins/reqpack/lake
	url = https://github.com/Coditary/rqp-plugin-lake.git
[submodule "plugins/reqpack/leiningen"]
	path = plugins/reqpack/leiningen
	url = https://github.com/Coditary/rqp-plugin-leiningen.git
[submodule "plugins/reqpack/logtalk"]
	path = plugins/reqpack/logtalk
	url = https://github.com/Coditary/rqp-plugin-logtalk.git
[submodule "plugins/reqpack/longtalk"]
	path = plugins/reqpack/longtalk
	url = https://github.com/Coditary/rqp-plugin-longtalk.git
[submodule "plugins/reqpack/luarocks"]
	path = plugins/reqpack/luarocks
	url = https://github.com/Coditary/rqp-plugin-luarocks.git
[submodule "plugins/reqpack/mamba"]
	path = plugins/reqpack/mamba
	url = https://github.com/Coditary/rqp-plugin-mamba.git
[submodule "plugins/reqpack/mcpm"]
	path = plugins/reqpack/mcpm
	url = https://github.com/Coditary/rqp-plugin-mcpm.git
[submodule "plugins/reqpack/melpa"]
	path = plugins/reqpack/melpa
	url = https://github.com/Coditary/rqp-plugin-melpa.git
[submodule "plugins/reqpack/meson"]
	path = plugins/reqpack/meson
	url = https://github.com/Coditary/rqp-plugin-meson.git
[submodule "plugins/reqpack/metacello"]
	path = plugins/reqpack/metacello
	url = https://github.com/Coditary/rqp-plugin-metacello.git
[submodule "plugins/reqpack/microdnf"]
	path = plugins/reqpack/microdnf
	url = https://github.com/Coditary/rqp-plugin-microdnf.git
[submodule "plugins/reqpack/miktex"]
	path = plugins/reqpack/miktex
	url = https://github.com/Coditary/rqp-plugin-miktex.git
[submodule "plugins/reqpack/mill"]
	path = plugins/reqpack/mill
	url = https://github.com/Coditary/rqp-plugin-mill.git
[submodule "plugins/reqpack/mise"]
	path = plugins/reqpack/mise
	url = https://github.com/Coditary/rqp-plugin-mise.git
[submodule "plugins/reqpack/mmc"]
	path = plugins/reqpack/mmc
	url = https://github.com/Coditary/rqp-plugin-mmc.git
[submodule "plugins/reqpack/mojo"]
	path = plugins/reqpack/mojo
	url = https://github.com/Coditary/rqp-plugin-mojo.git
[submodule "plugins/reqpack/newlisp_bin"]
	path = plugins/reqpack/newlisp_bin
	url = https://github.com/Coditary/rqp-plugin-newlisp_bin.git
[submodule "plugins/reqpack/nimble"]
	path = plugins/reqpack/nimble
	url = https://github.com/Coditary/rqp-plugin-nimble.git
[submodule "plugins/reqpack/nix"]
	path = plugins/reqpack/nix
	url = https://github.com/Coditary/rqp-plugin-nix.git
[submodule "plugins/reqpack/npm"]
	path = plugins/reqpack/npm
	url = https://github.com/Coditary/rqp-plugin-npm.git
[submodule "plugins/reqpack/nuget"]
	path = plugins/reqpack/nuget
	url = https://github.com/Coditary/rqp-plugin-nuget.git
[submodule "plugins/reqpack/octave-forge"]
	path = plugins/reqpack/octave-forge
	url = https://github.com/Coditary/rqp-plugin-octave-forge.git
[submodule "plugins/reqpack/ocx"]
	path = plugins/reqpack/ocx
	url = https://github.com/Coditary/rqp-plugin-ocx.git
[submodule "plugins/reqpack/odpkg"]
	path = plugins/reqpack/odpkg
	url = https://github.com/Coditary/rqp-plugin-odpkg.git
[submodule "plugins/reqpack/ollama"]
	path = plugins/reqpack/ollama
	url = https://github.com/Coditary/rqp-plugin-ollama.git
[submodule "plugins/reqpack/oobabooga"]
	path = plugins/reqpack/oobabooga
	url = https://github.com/Coditary/rqp-plugin-oobabooga.git
[submodule "plugins/reqpack/opa"]
	path = plugins/reqpack/opa
	url = https://github.com/Coditary/rqp-plugin-opa.git
[submodule "plugins/reqpack/opam"]
	path = plugins/reqpack/opam
	url = https://github.com/Coditary/rqp-plugin-opam.git
[submodule "plugins/reqpack/pacman"]
	path = plugins/reqpack/pacman
	url = https://github.com/Coditary/rqp-plugin-pacman.git
[submodule "plugins/reqpack/paket"]
	path = plugins/reqpack/paket
	url = https://github.com/Coditary/rqp-plugin-paket.git
[submodule "plugins/reqpack/paru"]
	path = plugins/reqpack/paru
	url = https://github.com/Coditary/rqp-plugin-paru.git
[submodule "plugins/reqpack/pinokio"]
	path = plugins/reqpack/pinokio
	url = https://github.com/Coditary/rqp-plugin-pinokio.git
[submodule "plugins/reqpack/pinto"]
	path = plugins/reqpack/pinto
	url = https://github.com/Coditary/rqp-plugin-pinto.git
[submodule "plugins/reqpack/pnpm"]
	path = plugins/reqpack/pnpm
	url = https://github.com/Coditary/rqp-plugin-pnpm.git
[submodule "plugins/reqpack/podman"]
	path = plugins/reqpack/podman
	url = https://github.com/Coditary/rqp-plugin-podman.git
[submodule "plugins/reqpack/poetry"]
	path = plugins/reqpack/poetry
	url = https://github.com/Coditary/rqp-plugin-poetry.git
[submodule "plugins/reqpack/portage"]
	path = plugins/reqpack/portage
	url = https://github.com/Coditary/rqp-plugin-portage.git
[submodule "plugins/reqpack/pub"]
	path = plugins/reqpack/pub
	url = https://github.com/Coditary/rqp-plugin-pub.git
[submodule "plugins/reqpack/qt"]
	path = plugins/reqpack/qt
	url = https://github.com/Coditary/rqp-plugin-qt.git
[submodule "plugins/reqpack/quarks"]
	path = plugins/reqpack/quarks
	url = https://github.com/Coditary/rqp-plugin-quarks.git
[submodule "plugins/reqpack/quicklisp"]
	path = plugins/reqpack/quicklisp
	url = https://github.com/Coditary/rqp-plugin-quicklisp.git
[submodule "plugins/reqpack/raco"]
	path = plugins/reqpack/raco
	url = https://github.com/Coditary/rqp-plugin-raco.git
[submodule "plugins/reqpack/rebar3"]
	path = plugins/reqpack/rebar3
	url = https://github.com/Coditary/rqp-plugin-rebar3.git
[submodule "plugins/reqpack/red_cli"]
	path = plugins/reqpack/red_cli
	url = https://github.com/Coditary/rqp-plugin-red_cli.git
[submodule "plugins/reqpack/renv"]
	path = plugins/reqpack/renv
	url = https://github.com/Coditary/rqp-plugin-renv.git
[submodule "plugins/reqpack/rpm"]
	path = plugins/reqpack/rpm
	url = https://github.com/Coditary/rqp-plugin-rpm.git
[submodule "plugins/reqpack/rtx"]
	path = plugins/reqpack/rtx
	url = https://github.com/Coditary/rqp-plugin-rtx.git
[submodule "plugins/reqpack/salesforce-apex"]
	path = plugins/reqpack/salesforce-apex
	url = https://github.com/Coditary/rqp-plugin-salesforce-apex.git
[submodule "plugins/reqpack/sbt"]
	path = plugins/reqpack/sbt
	url = https://github.com/Coditary/rqp-plugin-sbt.git
[submodule "plugins/reqpack/scsh"]
	path = plugins/reqpack/scsh
	url = https://github.com/Coditary/rqp-plugin-scsh.git
[submodule "plugins/reqpack/sdkman"]
	path = plugins/reqpack/sdkman
	url = https://github.com/Coditary/rqp-plugin-sdkman.git
[submodule "plugins/reqpack/shards"]
	path = plugins/reqpack/shards
	url = https://github.com/Coditary/rqp-plugin-shards.git
[submodule "plugins/reqpack/skillssh"]
	path = plugins/reqpack/skillssh
	url = https://github.com/Coditary/rqp-plugin-skillssh.git
[submodule "plugins/reqpack/smackage"]
	path = plugins/reqpack/smackage
	url = https://github.com/Coditary/rqp-plugin-smackage.git
[submodule "plugins/reqpack/smlpkg"]
	path = plugins/reqpack/smlpkg
	url = https://github.com/Coditary/rqp-plugin-smlpkg.git
[submodule "plugins/reqpack/snap"]
	path = plugins/reqpack/snap
	url = https://github.com/Coditary/rqp-plugin-snap.git
[submodule "plugins/reqpack/snow"]
	path = plugins/reqpack/snow
	url = https://github.com/Coditary/rqp-plugin-snow.git
[submodule "plugins/reqpack/snyk"]
	path = plugins/reqpack/snyk
	url = https://github.com/Coditary/rqp-plugin-snyk.git
[submodule "plugins/reqpack/spago"]
	path = plugins/reqpack/spago
	url = https://github.com/Coditary/rqp-plugin-spago.git
[submodule "plugins/reqpack/spm"]
	path = plugins/reqpack/spm
	url = https://github.com/Coditary/rqp-plugin-spm.git
[submodule "plugins/reqpack/stack"]
	path = plugins/reqpack/stack
	url = https://github.com/Coditary/rqp-plugin-stack.git
[submodule "plugins/reqpack/swiftpm"]
	path = plugins/reqpack/swiftpm
	url = https://github.com/Coditary/rqp-plugin-swiftpm.git
[submodule "plugins/reqpack/tads3"]
	path = plugins/reqpack/tads3
	url = https://github.com/Coditary/rqp-plugin-tads3.git
[submodule "plugins/reqpack/tcllib"]
	path = plugins/reqpack/tcllib
	url = https://github.com/Coditary/rqp-plugin-tcllib.git
[submodule "plugins/reqpack/teacup"]
	path = plugins/reqpack/teacup
	url = https://github.com/Coditary/rqp-plugin-teacup.git
[submodule "plugins/reqpack/tempify"]
	path = plugins/reqpack/tempify
	url = https://github.com/Coditary/rqp-plugin-tempify.git
[submodule "plugins/reqpack/texlive"]
	path = plugins/reqpack/texlive
	url = https://github.com/Coditary/rqp-plugin-texlive.git
[submodule "plugins/reqpack/trivy"]
	path = plugins/reqpack/trivy
	url = https://github.com/Coditary/rqp-plugin-trivy.git
[submodule "plugins/reqpack/uv"]
	path = plugins/reqpack/uv
	url = https://github.com/Coditary/rqp-plugin-uv.git
[submodule "plugins/reqpack/vcpkg"]
	path = plugins/reqpack/vcpkg
	url = https://github.com/Coditary/rqp-plugin-vcpkg.git
[submodule "plugins/reqpack/vfp-pm"]
	path = plugins/reqpack/vfp-pm
	url = https://github.com/Coditary/rqp-plugin-vfp-pm.git
[submodule "plugins/reqpack/vim-plug"]
	path = plugins/reqpack/vim-plug
	url = https://github.com/Coditary/rqp-plugin-vim-plug.git
[submodule "plugins/reqpack/vpm"]
	path = plugins/reqpack/vpm
	url = https://github.com/Coditary/rqp-plugin-vpm.git
[submodule "plugins/reqpack/wasm-bindgen"]
	path = plugins/reqpack/wasm-bindgen
	url = https://github.com/Coditary/rqp-plugin-wasm-bindgen.git
[submodule "plugins/reqpack/x10build"]
	path = plugins/reqpack/x10build
	url = https://github.com/Coditary/rqp-plugin-x10build.git
[submodule "plugins/reqpack/xbps"]
	path = plugins/reqpack/xbps
	url = https://github.com/Coditary/rqp-plugin-xbps.git
[submodule "plugins/reqpack/yarn"]
	path = plugins/reqpack/yarn
	url = https://github.com/Coditary/rqp-plugin-yarn.git
[submodule "plugins/reqpack/yay"]
	path = plugins/reqpack/yay
	url = https://github.com/Coditary/rqp-plugin-yay.git
[submodule "plugins/reqpack/zef"]
	path = plugins/reqpack/zef
	url = https://github.com/Coditary/rqp-plugin-zef.git
[submodule "plugins/reqpack/zig"]
	path = plugins/reqpack/zig
	url = https://github.com/Coditary/rqp-plugin-zig.git
[submodule "plugins/reqpack/zinit"]
	path = plugins/reqpack/zinit
	url = https://github.com/Coditary/rqp-plugin-zinit.git
[submodule "plugins/reqpack/zplug"]
	path = plugins/reqpack/zplug
	url = https://github.com/Coditary/rqp-plugin-zplug.git
[submodule "plugins/reqpack/zypper"]
	path = plugins/reqpack/zypper
	url = https://github.com/Coditary/rqp-plugin-zypper.git
[submodule "templates"]
	path = templates
	url = https://github.com/Coditary/tempify-templates.git
[submodule "registry/beez"]
	path = registry/beez
	url = https://github.com/Coditary/beez-registry.git
[submodule "registry/reqpack"]
	path = registry/reqpack
	url = https://github.com/Coditary/rqp-registry.git
[submodule "registry/tempify"]
	path = registry/tempify
	url = https://github.com/Coditary/tempify-registry.git
[submodule "plugins/reqpack/beez"]
	path = plugins/reqpack/beez
	url = https://github.com/Coditary/rqp-plugin-beez.git
